/*
*
*
*
ADD ACTIVITY MODAL
*
*
*
*/


@keyframes modal {
  0%   { top:45%; opacity: 0;}
  100% { top:50%; opacity: 1;}
}

.activity-form {
  width: 30%;
  height: 30%;
  position: relative;
  animation-name: modal;
  animation-duration: 500ms;
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  opacity: 1;
}


/*
*
*
*
LOGIN PAGE
*
*
*
*/

.login-center {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 600px;
  height: 100px;
  border-radius: 3px;
  text-align: center;
}
/*
*
*
*
SLIDE OUT MENU
*
*
*
*/
.slide-out-menu {
  margin: 10px 0px 0px 10px;
}

.slide-out-menu:hover {
  color: lightblue;
}

.nav {
  background-color: transparent;
  position: fixed;
  z-index: 10;
}


/*
*
*
*
Add RelationshipForm
*
*
*
*/

.btn-margin {
  margin-top: 20px;
}


/*
*
*
*
Test Bubble
*
*
*
*/

/* Max bubble size is 220 */

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-bubble {
  border-radius: 50%;
  margin: auto;
  padding: 5px;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  color: white;
  position: relative;
	cursor: default; 
}

.bubble-container {
  height: 300px;
  width: 300px;
  text-align: center;
}

.bubble-container-center {
  padding-top: 10%;
}

.bubble-padding {
  padding-top: 50px;
}


/*
Add relationships Reminder
*/
.center {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100vh;
  position: relative;
}

/*
add relationship modal
*/

@import "compass/css3";

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.main {
  text-align: center;
}

.left {
  text-align: left;
}

.spacer-sm {
  margin: 5px 0;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
}

