/*
*
*
*
ADD ACTIVITY MODAL
*
*
*
*/


@keyframes modal {
    0%   { top:45%; opacity: 0;}
    100% { top:50%; opacity: 1;}
}

.activity-form {
    width: 30%;
    height: 30%;
    position: relative;
    animation-name: modal;
    animation-duration: 500ms;
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    opacity: 1;
}
/*
*
*
*
LOGIN PAGE
*
*
*
*/

.login-center{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 600px;
  height: 100px;
  border-radius: 3px;
  text-align: center;
}


/*
*
*
*
SLIDE OUT MENU
*
*
*
*/

.slide-out-menu{
    margin: 10px 0px 0px 10px;
}

.slide-out-menu:hover{
    color: lightblue;
}